#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.blank.title', type.modelName) /}

<div id="crudShow" class="${type.name}">

    <h2 id="crudShowTitle">&{'crud.blank.title', type.modelName}</h2>

    <div class="objectForm">
    #{form action:@create(), enctype:'multipart/form-data'}
        #{crud.form }

		  #{crud.custom 'userCreo' }
		   #{/crud.custom}

		  #{crud.custom 'pagos' }
		   #{/crud.custom}

		  #{crud.custom 'listaVenta' }
		   #{/crud.custom}

	  #{/crud.form}

        <p class="crudButtons">
	    <p id="crudListAdd">
       		 <a href="@{Clientes.list()}">&{'cancelar'}</a>
	    </p>
            <input type="submit" name="_save" value="&{'crud.save', type.modelName}" />
            <input type="submit" name="_saveAndAddAnother" value="&{'crud.saveAndAddAnother', type.modelName}" />
        </p>

    #{/form}
    </div>

</div>
