#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.show.title', type.modelName) /}

<div id="crudShow" class="${type.name}">
	<h2 id="crudShowTitle">&{'crud.show.title', type.modelName}</h2>
    <h5>&{'creado'}: ${object.fecha.format('dd MMMM yyyy hh:mm')}, &{'by'}: ${object.userCreo.getNCompleto()} </h5>

    <div class="objectForm">
    #{form action:@save(object._key()), enctype:'multipart/form-data'}

	  #{crud.form  }

		  #{crud.custom 'unidad'}
		 <label for="montoTotal">&{'unidad'}</label>
		  <label for="montoTotal">${object.unidad}</label>
		   #{/crud.custom}

		  #{crud.custom 'userCreo' }
		   #{/crud.custom}

	 #{/ crud.form }
        <p class="crudButtons">

	    <p id="crudListAdd">
       		 <a href="@{Categorias.list()}">&{'cancelar'}</a>
	    </p>
            <input type="submit" name="_save" value="&{'crud.save', type.modelName}" />
            <input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
        </p>
    #{/form}
    </div>

</div>
