#{if !isError}
            <div class="crudFlash flashSuccess">
      Se realizo con exito la copia de seguridad 
            </div>
#{/if}
#{else}
            <div class="crudFlash flashError">
     Problemas al generar la copia de seguridad 
            </div>
#{/else}

#{set title:'Copia de Seguridad' /}
<h3>Copia de seguridad</h3>
<label>Fecha</label>
<p>${new Date().format('dd MMMM yyyy hh:mm')}</p>
<label>Base de datos</label>
<p>PuntoVenta</p>
<label>Tamaño de la Base de datos</label>
<p>167 kb</p>
<br>
<input type="button" value="Generar copia" onclick="generarCopiaSeguridad()">
