#{extends 'main.html' /}
#{set title:'Pescados y Mariscos' /}

<div class="media bgCeleste" style="margin-top:20px; ">
	  <a class="pull-left" href="#">
		      <img class="media-object" src="/public/images/cabrilla.jpg" alt="...">
		        </a>
			  <div class="media-body">
				  <h1 class="media-heading bold text-primary"><strong>CABRILLA</strong></h1>
				 Es muy apreciada para el consumo humano directo, siendo comercializada en estado fresco, congelado y salado, esta especie es típicamente carnívora y se alimenta preferentemente de peces. La cabrilla le rinde el 40% los filetes y el 60% en hueso y cabeza.
				      <br>Podemos degustarlo en :

				<div class="media red" style="margin-top:30px; ">
					  <a class="pull-left" href="#">
					      <img class="media-object" src="/public/images/sudado.JPG" alt="...">
				        </a>
					  <div class="media-body">
					      <h2 class="media-heading text-danger">Sudado de Cabrilla </h2>

Sazonar el pescado con sal y pimienta. En una sarten, con aceite bien caliente, poner, ajo, aji panca molido, y el aji amarillo incorporar la 1/2 de la cebolla cebolla, la mitad de el tomate y esperar que se deshaga el tomate. Luego añadir la chicha de jora y revolver. Encima colocar el pescado entero, se espolvorea culantro y se cubre con el resto de cebolla. Se tapa y se deja sudar a fuego lento unos 5 minutos. Presentar acompañado de arroz blanco y yucas sancochadas.

					    </div>
				    </div>
	    </div>
    </div>


