#{extends 'main.html' /}
#{set title:'Pescados y Mariscos' /}

<div class="media bgCeleste" style="margin-top:20px; ">
	  <a class="pull-left" href="#">
		      <img class="media-object" src="/public/images/cachema.jpg" alt="...">
		        </a>
			  <div class="media-body">
				  <h1 class="media-heading bold text-primary"><strong>CACHEMA SECHURANA</strong></h1>
				      Especie acompañante de la merlusa en el norte del mar peruano, su edad maxima es de 14 años, sin embargo su edad promedio es 4 años aprox. Se alimenta principalmente de crustaceos, es muy nutritivo
				      <br>Podemos degustarlo en :

				<div class="media red" style="margin-top:30px; ">
					  <a class="pull-left" href="#">
					      <img class="media-object" src="/public/images/cachemaEncebollada.jpg" alt="...">
				        </a>
					  <div class="media-body">
					      <h2 class="media-heading text-danger">Cachema Encebollada</h2>

					      PREPARACIÓN: Lava bien las cachemas. Luego, en aceite bien caliente, fríe hasta que estén doraditas. Aparte, en una sartén con dos cucharadas de aceite saltea las cebollas y el ajo. Añade los ajíes, amarillo y panca, y el tomate. Sazona con comino, sal, pimienta y pasta de tomate. Vierte el vinagre y el caldo, sube el fuego y da un hervor. Sirve la cachema con el encebollado. Si gustas acompaña con arroz blanco y/o yucas


					    </div>
				    </div>
	    </div>
    </div>

