#{extends 'main.html' /}
#{set title:'Acerca de nosotros' /}

<br>
			    <p class="">
            Mediante este formulario de contacto podrás hacernos llegar todas tus dudas.
            En muy poco tiempo le contestaremos.
                </p>


                <div style="width:600px" >
                <form role="form" >

                      <div class="form-group">
                            <label for="exampleInputEmail1">Nombre</label>
                            <input type="email" class="form-control" placeholder="Ingresar nombre completo">
                      </div>
                      <div class="form-group">
                            <label for="exampleInputEmail1">Correo Electrónico</label>
                            <input type="email" class="form-control" placeholder="Ingresar email">
                      </div>
                      <div class="form-group">
                            <label for="contenido">Mensaje</label>
                            <textarea class="form-control" rows="3"></textarea>
                      </div>
                      <button type="submit" class="btn btn-default">Enviar</button>
         </form>
     </div>
<br>
        <address>
      <strong>Pescados y Mariscos San José, EIRL.</strong><br>
        Jr D 264 - Urb. San José <br>
          Piura, Piura - Peru<br>
            <abbr title="Phone">P:</abbr> (073) 520106
        </address>

        <address>
              <strong>Pescados San José</strong><br>
                <a href="mailto:#">ventas@pescadossanjose.com</a>
            </address>


