#{extends 'main.html' /}
#{set title:'Acerca de nosotros' /}
<br>
<blockquote>
      <p>.</p>
        <footer><cite title="Source Title">A Nuestro Estimado Cliente</cite></footer>
    </blockquote>
<p>
Somos una Empresa líder de la región en la venta de pescado al publico en general, con los mejores servicios de higuiene. Ademas contamos con personal calificado. 
Pescados San José, viene operando desde octubre del 2005, brindando los mejores productos frescos al mejor precio, mediante el envio directo desde nuestras playas del norte del Pais.

</p>
     <div class="col-xs-6 col-md-6">
        <a href="#" class="thumbnail">
	        <img class="media-object" src="/public/images/pescadoVitrina.jpg" alt="...">
       </a>
    </div>

<p>
Nuestra continua dedicación en busca de la excelencia, nos impulsa a satisfacer las demandas de nuestros clientes y a brindar el mejor servicio en la ventas y preparacion de pescados.

Somos una empresa naciente pero con un amplio deseo de crecer y sobre todo de brindar el mejor servicio.
El éxito de nuestra empresa se debe en gran parte a nuestra Filosofía de trabajo, la cual nos estimula a adelantarnos a las exigencias de nuestros clientes.

</p>


