#{extends 'main.html' /}
#{set title:'Acerca de nosotros' /}

<!-- Example row of columns -->
      <div class="row">
	              <div class="col-lg-4">
			                <h2>Domingos de Camotillo!</h2>
                             <div class="col-xs-6 col-md-12">
                                    <a href="#" class="thumbnail">
		                                <img class="media-object" src="/public/images/ccamotillo.jpg" alt="...">
                                          </a>
                            </div>

					          <p class="">En Julio aprovecha los domingos de camotillo, y obten un descuento del 30% en tu segunda compra(1 kg)</p>
								              </div>

			    <div class="col-lg-4">
				    <h2>En Julio APROVECHA!</h2>
				        <p>Aprovecha las mejores ofertas en Cachemas y Jurel fresco de temporada. Ademas participa en el sorteo de una canasta por fiestas patrias(27/07/14)</p>

                             <div class="col-xs-6 col-md-12">
                                    <a href="#" class="thumbnail">
		                                <img class="media-object" src="/public/images/peru.jpg" alt="...">
                                          </a>
                            </div>
				</div>

                <div class="col-lg-4">
			        <h2>Caballa fresca</h2>
                             <div class="col-xs-6 col-md-12">
                                    <a href="#" class="thumbnail">
		                                <img class="media-object" src="/public/images/caballa.jpg" alt="...">
                                          </a>
                            </div>
				        <p>Te ofrecemos la mejor caballa fresca directamente de las playas de sechura. </p>
				</div>


    </div>
